DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@db.qraauvmmomiepojmodhh.supabase.co:5432/postgres?sslmode=require"
DIRECT_URL="postgresql://postgres:YOUR_PASSWORD@db.qraauvmmomiepojmodhh.supabase.co:5432/postgres?sslmode=require"
AUTH_DISABLED="false"

NEXT_PUBLIC_APP_NAME="GoLowLevel"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SUPABASE_URL="https://qraauvmmomiepojmodhh.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="your-supabase-publishable-key"
SUPABASE_SECRET_KEY="your-server-only-supabase-secret-key"
